@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Oswald', sans-serif;
}

.hero {
    background-image: url("../bookone.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-body {
    margin: 6%;
}
© 2022 GitHub, Inc.
Terms
Privacy
Security
